* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
  
.card {    
    margin: 10px;
    height: 150px;
    background: rgba(155, 155, 155, 0.2);
    backdrop-filter: blur(1px);
    box-shadow: 0 50px 100px rgba(0, 0, 0, 10);
    overflow: hidden;
    padding: 15px;
    transition: height 0.5s ease-in-out;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
  
.card.active {
    height: 650px;
}
  
.card .content {
    display: flex;
    align-items: center;
}
  
.card .content .img8x {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}
  
.card .content .img8x img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    
.card .content h2 {
    margin-left: 15px;
    font-size: 120%;
    color: white;
}
  
.card .content h2 span {
    font-size: 0.8em;
    font-weight: 400;
    color: rgb(200, 200, 200);
}
  
.red {
    color: red !important;
}
  
.sml {
    font-size: 0.6em;
}
  
.navigation {
    position: relative;
    top: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}
  
.navigation li {
    list-style: none;
    margin: 15px 20px;
}
  
.navigation li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: pink;
    font-size: 1.1em;
    transition: color 0.25s;
}
  
.navigation li a:hover {
    color: #a91e1e;
}
  
.navigation li a ion-icon {
    font-size: 1.6em;
    margin-right: 15px;
}
  
.toggle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: #a91e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}
  
.toggle ion-icon {
    color: #fff;
    font-size: 1.4em;
    transition: transform ease-in-out 0.5s;
}
  
.card.active .toggle ion-icon {
    transform: rotate(-180deg);
}
  

hr {
    position: relative;
    top: 10px;
    border: none;
    height: 6px;
    background: white;
    margin-bottom: 25px;
    margin-top: 0px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 7;
}


.fullScreenDiv {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
    background-color: black;
    z-index: 6;
}

.centeredFixedDiv {
    position: fixed;
    top: 45%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

#skipHint {
    position: fixed; 
    bottom: 10%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 8;
}

#binaryCanvas {
    margin: 0;
    padding: 0;
    position: fixed;
    touch-action: none;
    width: calc(100% - 2px); /* for borders */
    height: calc(100% - 2px); /* for borders */
    top:0;
    left:0;
    z-index : -1;
}

a {
    text-decoration: none;
}

.iconSword {
    position: absolute;
    height: 50px;
    width: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline;
}

.swordsDiv {
    position: relative;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
}

@media (max-width: 500px) {
    .space {
        margin-top: 3vh;
    }
    .watching {
        font-size: 30px;
        margin-top: 10px;
    }
    .largeScreen {
        display: none;
    }

}
@media (min-width: 500px) {
    .smallScreen {
        display: none;
    }
}

.glitched{
    animation: glitch 1s linear infinite;
  }
  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  .glitched:before,
  .glitched:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
  .glitched:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  .glitched:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }

@font-face {
    font-family: 'GlicthedFont'; /*a name to be used later*/
    src: url('../fonts/Hacked-KerX.ttf'); /*URL to font*/
}

.glitched-font {
    font-family: 'GlicthedFont', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
